body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(84, 139, 175, 0.1);
}

.highlight {
  height: 170px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(34, 53, 116);
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.highlight:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
